<form action="post" class="form-main">
    <section class="form-section" id="part-1">
        <div class="input-section">
            <div class="input-container">
                <p class="input-title">First Name</p>
                <input placeholder="Enter your first name" type="text" class="form-input">
            </div>
            <div class="input-container">
                <p class="input-title">Last Name</p>
                <input placeholder="Enter your last name" type="text" class="form-input">
            </div>
        </div>
    </section>
    <section class="form-section" id="part-2">
        <div class="input-section">
            <div class="input-container">
                <p class="input-title">Email</p>
                <input placeholder="Enter an email" type="text" class="form-input">
            </div>
            <div class="input-container">
                <p class="input-title">Password</p>
                <div class="special-input">
                    <input placeholder="Enter a password" type="password" class="form-input">
                    <p class="password-view"><i class="fa-solid fa-lock"></i></p>
                </div>
            </div>
        </div>
    </section>
    <section class="form-section" id="part-3">
        <div class="input-section">
            <div class="input-container">
                <p class="input-title">Avatar</p>
                <div class="avatar-preview">
                    <p class="avatar-btn"><i class="fa-solid fa-image"></i></p>
                    <input type="file" class="file-input" hidden>
                </div>
            </div>
            <div class="input-container">
                <p class="input-title">Username</p>
                <input placeholder="Enter a username" type="text" class="form-input">
            </div>
        </div>
    </section>
</form>