<!DOCTYPE html>
<html lang="en">
<head>
    <!-- main header -->
    <%- include('../templates/headers/public.ejs') %>
    <!-- styles -->
    <link rel="stylesheet" href="/static/styles/global/main.css">
    <link rel="stylesheet" href="/static/styles/public/login/login.css">
    <!-- title -->
    <title>TroopTools | Login</title>
</head>
<body>
    <%- include('../templates/forms/_login_form.ejs') %>
    <p id="parent-doc"></p>
</body>
</html>